:root {
    --main-bg-color: white;
    --header: #080705;

  }

  #confirmModal {
    margin: 20px;
  }

  .form-control,
  .form-control:focus {
    color: black;
  }

  .fc-right {

    margin-top: 10px;
  }

  .alert,
  .alert-info {
    color: black;
    background-color: white;
  }

  input {
    width: 100%;
    height: calc(2.15625rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  input:focus {
    box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
    border-color: #597ea2 !important;
  }

  .fc-left {
    margin-top: 10px;
  }

  .navbar {
    margin-bottom: 20px;
    padding: 5px;
  }

  .bg-primary {
    background-color: var(--header) !important;
  }

  body {
    padding: 0;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    background-color: var(--main-bg-color);
  }

  #calendar {
    max-width: 1300px;
    max-height: 300px;
    margin: 0 auto;
  }